extends _layouts/master

block content
    section
        .cart.my-lg-4
            .container.py-5
                .table-responsive
                    table.table
                        thead
                            tr.text-black
                                th.text-dark(scope='col') Products
                                th.text-dark(scope='col') Name
                                th.text-dark(scope='col') Price
                                th.text-dark(scope='col') Quantity
                                th.text-dark(scope='col') Total
                                th.text-dark(scope='col') Handle
                        tbody
                            - for (var i = 0; i < 5; ++i)
                                tr
                                    th(scope='row')
                                        .d-flex.align-items-center
                                            img.img-fluid.me-5.rounded-circle(src='client/images/love-product-8.jpg' style='width: 100px; height: 100px;' alt='')
                                    td
                                        p.mb-0.mt-4.text-dark Áo Thun Lạnh
                                    td
                                        p.mb-0.mt-4.text-dark 2.99 $
                                    td
                                        .input-group.quantity.mt-4.border-0(style='width: 100px;')
                                            .input-group-btn
                                                button.btn.btn-sm.btn-minus.rounded-circle.bg-light.border
                                                    i.fa.fa-minus
                                            input.form-control.form-control-sm.text-center.border-0(type='text' value='1')
                                            .input-group-btn
                                                button.btn.btn-sm.btn-plus.rounded-circle.bg-light.border
                                                    i.fa.fa-plus
                                    td
                                        p.mb-0.mt-4.text-dark 2.99 $
                                    td
                                        button.btn.btn-md.rounded-circle.bg-light.border.mt-4
                                            i.fa.fa-times.text-danger

                .mt-5
                    input.border-0.border-bottom.rounded.me-5.py-3.mb-4(type='text' placeholder='Coupon Code')
                    button.btn.rounded-pill.px-4.py-3.btn-apply.hvr-float(type='button') Apply Coupon

                .row.g-4.justify-content-center
                    .col-sm-8.col-md-7.col-lg-12
                        .bg-light.rounded
                            .p-4
                                h1.display-6.mb-4.title
                                    | Cart
                                    span.fw-normal Total
                                .d-flex.justify-content-between.mb-4
                                    h5.mb-0.me-4 Subtotal:
                                    p.mb-0 $96.00
                                .d-flex.justify-content-between
                                    h5.mb-0.me-4 Giao Hang

                                    p.mb-0 Flat rate: $3.00
                                p.mb-0.text-end Giao Hang Toi Viet Nam.
                            .py-4.mb-4.line-border.d-flex.justify-content-between
                                h5.mb-0.ps-4.me-4 Total
                                p.mb-0.pe-4 $99.00
                            a.btn.btn-apply.rounded-pill.px-4.py-3.text-uppercase.mb-4.ms-4.hvr-float(type='button' href='checkout.html') Proceed Checkout

