extends _layouts/master

block content
    section
        .cart.my-lg-4
            .container
                ol.breadcrumb.py-4.fs-6
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Điền thông tin
                    li.breadcrumb-item
                        a(href='#') Xác nhận
                    li.breadcrumb-item.active.css-ilends(aria-current='page')
                        p Hoàn tất đơn hàng
                .checkout-form
                    h4.mb-3 Chi Tiết Giỏ Hàng

                .row
                    .col-lg-12
                        .shoping-cart-table.mb-5.rounded-4.p-3.bg-box
                            .table-responsive
                                table.table.mb-0.table-borderless
                                    thead
                                        thead
                                            tr
                                                th(scope='col').fw-lighter.text-white.text-uppercase BTN
                                                th(scope='col').text-center.fw-lighter.text-white.text-uppercase Amount
                                                th(scope='col').text-center.fw-lighter.text-white.text-uppercase Note
                                                th(scope='col').text-center.fw-lighter.text-white.text-uppercase Time
                                    tbody
                                        - for (var i = 0; i < 4; i++)
                                            tr
                                                td.py-3.table-img
                                                    img.w-100(src='client/images/product-love-1.png')
                                                td.py-3.text-center.text-highline-2.fw-bold 3000k
                                                td.py-3.text-center.text-highline-2 Giao Hang som
                                                td.py-3.text-center.text-highline-2 11g20p
                .row
                    .col-lg-12
                        .shoping-cart-btns.d-flex.justify-content-between
                            a.primary-btn.cart-btn Tiếp Tục Mua Hàng
                            button.cart-update.primary-btn.p-3
                                | Cập Nhật Đơn Hàng
                    .col-lg-6
                    .col-lg-6
                        .shoping-checkout
                            h5 Giá trị giỏ hàng
                            ul
                                // <li>Subtotal <span>$454.98</span></li>
                                li
                                    | Tổng cộng
                                    span.cart-subtotal 115.000k;
                            a.primary-btn(href='checkout.html') THANH TOÁN
