extends _layouts/master

block content
    section
        .check-out
            .container
                ol.breadcrumb.py-4.fs-6
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Điền thông tin
                    li.breadcrumb-item
                        a(href='#') Xác nhận
                    li.breadcrumb-item.active.css-ilends(aria-current='page')
                        p Hoàn tất đơn hàng

                .checkout-form
                    h4 Thông Tin Giao Hàng
                    form(action='xac-nhan' method='post')
                        .row
                            .col-lg-8.col-md-6
                                .row
                                    .col-lg-6
                                        .checkout-input.mb-5
                                            label
                                                | Họ Tên ;
                                                span *
                                            input(required='' name='name' type='text' value='')
                                            // <p class='hidden text-danger'>Mã giảm giá không hợp lệ</p>
                                    .col-lg-6
                                        .checkout-input.mb-5
                                            label
                                                | Số điện thoại;
                                                span *
                                            input(required='' name='phone' type='text' value='')
                                    .checkout-input
                                        label Email
                                        input(name='email' type='email' value='')
                                .checkout-input
                                    label
                                        | Địa chỉ*;
                                        span *
                                        span.label-note &nbsp;(S&#x1ED1; nh&agrave;, C&abreve;n h&#x1ED9;, T&ecirc;n &dstrok;&#x1B0;&#x1EDD;ng, ng&otilde;...)
                                    input.checkout-input-add(required='' name='address' type='text' value='')
                                    // <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                                .checkout-input
                                    label
                                        | Tỉnh/Thành phố ;
                                        span *
                                    select(required='' name='province')
                                        option(value='' hidden='') Tỉnh/Thành phố
                                .checkout-input
                                    label
                                        | Quận/Huyện;
                                        span *
                                    select(required='' name='district')
                                        option(hidden='') Chọn Quận/Huyện
                                .checkout-input
                                    p
                                        | Phường/Xã;
                                        span *
                                    select(required='' name='ward')
                                        option(value='' hidden='') Chọn Phường/Xã;
                                .checkout-input
                                    p Ghi chú ;
                                    textarea(name='notes' id='' cols='30' rows='5')
                            .col-lg-4.col-md-6
                                .checkout-order.p-3.bg-light
                                    h4.text-highline Giỏ hàng
                                    .checkout-order-products.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        .text-highline Sản phẩm
                                        span Thành tiền
                                    ul
                                        li
                                            | Cải ngọt thủy canh VietGAP (300g)15.000 đ
                                            span 15.000 &dstrok;
                                    .checkout-order-subtotal.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline Tiền hàng

                                        span 15.000
                                    .checkout-order-shipping.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline Phí vận chuyển

                                        span.delivery-fee 0
                                    .checkout-order-discount.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline  Phí vận chuyển đ;

                                        span.discount 0

                                    .checkout-order-total.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline Tổng D

                                        span.order_total 15.000
                                    .shoping-continue
                                        label.mb-3.text-highline.fw-bold.fs-5.mb-3 Mã giảm giá;
                                        .input-group.mb-3
                                            input.form-control(name='coupon' type='text' value='')
                                            button.btn.btn-outline-secondary(name='coupon_submit') ÁP Dụng
                                        .coupon-notification
                                    button.site-btn.btn-submit.border-0.rounded-4.py-2.px-4(type='submit') Đặt Hàng
