extends _layouts/master

block content
    section
        .check-out
            .container
                ol.breadcrumb.py-4.fs-6
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Điền thông tin
                    li.breadcrumb-item
                        a(href='#') Xác nhận
                    li.breadcrumb-item.active.css-ilends(aria-current='page')
                        p Hoàn tất đơn hàng

                .checkout-form
                    h4 Thông Tin Giao Hàng
                    form(action='xac-nhan' method='post')
                        .row
                            .col-lg-8.col-md-6
                                .row
                                    .col-lg-6
                                        .checkout-input.mb-5
                                            label
                                                | Họ Tên ;
                                                span *
                                            input(required='' name='name' type='text' value='')
                                            // <p class='hidden text-danger'>Mã giảm giá không hợp lệ</p>
                                    .col-lg-6
                                        .checkout-input.mb-5
                                            label
                                                | Số điện thoại;
                                                span *
                                            input(required='' name='phone' type='text' value='')
                                    .checkout-input
                                        label Email
                                        input(name='email' type='email' value='')
                                .checkout-input
                                    label
                                        | Địa chỉ*;
                                        span *
                                        span.label-note &nbsp;(S&#x1ED1; nh&agrave;, C&abreve;n h&#x1ED9;, T&ecirc;n &dstrok;&#x1B0;&#x1EDD;ng, ng&otilde;...)
                                    input.checkout-input-add(required='' name='address' type='text' value='')
                                    // <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                                .checkout-input
                                    label
                                        | Tỉnh/Thành phố ;
                                        span *
                                    select(name='province' required)
                                        option(value='' hidden) Chọn thành phố
                                        option(value='An Giang') An Giang
                                        option(value='Bà Rịa-Vũng Tàu') Bà Rịa-Vũng Tàu
                                        option(value='Bắc Giang') Bắc Giang
                                        option(value='Bắc Kạn') Bắc Kạn
                                        option(value='Bạc Liêu') Bạc Liêu
                                        option(value='Bắc Ninh') Bắc Ninh
                                        option(value='Bến Tre') Bến Tre
                                        option(value='Bình Định') Bình Định
                                        option(value='Bình Dương') Bình Dương
                                        option(value='Bình Phước') Bình Phước
                                        option(value='Bình Thuận') Bình Thuận
                                        option(value='Cà Mau') Cà Mau
                                        option(value='Cần Thơ') Cần Thơ
                                        option(value='Cao Bằng') Cao Bằng
                                        option(value='Đà Nẵng') Đà Nẵng
                                        option(value='Đắk Lắk') Đắk Lắk
                                        option(value='Đắk Nông') Đắk Nông
                                        option(value='Điện Biên') Điện Biên
                                        option(value='Đồng Nai') Đồng Nai
                                        option(value='Đồng Tháp') Đồng Tháp
                                        option(value='Gia Lai') Gia Lai
                                        option(value='Hà Giang') Hà Giang
                                        option(value='Hà Nam') Hà Nam
                                        option(value='Hà Nội') Hà Nội
                                        option(value='Hà Tĩnh') Hà Tĩnh
                                        option(value='Hải Dương') Hải Dương
                                        option(value='Hải Phòng') Hải Phòng
                                        option(value='Hậu Giang') Hậu Giang
                                        option(value='Hòa Bình') Hòa Bình
                                        option(value='Hưng Yên') Hưng Yên
                                        option(value='Khánh Hòa') Khánh Hòa
                                        option(value='Kiên Giang') Kiên Giang
                                        option(value='Kon Tum') Kon Tum
                                        option(value='Lai Châu') Lai Châu
                                        option(value='Lâm Đồng') Lâm Đồng
                                        option(value='Lạng Sơn') Lạng Sơn
                                        option(value='Lào Cai') Lào Cai
                                        option(value='Long An') Long An
                                        option(value='Nam Định') Nam Định
                                        option(value='Nghệ An') Nghệ An
                                        option(value='Ninh Bình') Ninh Bình
                                        option(value='Ninh Thuận') Ninh Thuận
                                        option(value='Phú Thọ') Phú Thọ
                                        option(value='Phú Yên') Phú Yên
                                        option(value='Quảng Bình') Quảng Bình
                                        option(value='Quảng Nam') Quảng Nam
                                        option(value='Quảng Ngãi') Quảng Ngãi
                                        option(value='Quảng Ninh') Quảng Ninh
                                        option(value='Quảng Trị') Quảng Trị
                                        option(value='Sóc Trăng') Sóc Trăng
                                        option(value='Sơn La') Sơn La
                                        option(value='Tây Ninh') Tây Ninh
                                        option(value='Thái Bình') Thái Bình
                                        option(value='Thái Nguyên') Thái Nguyên
                                        option(value='Thanh Hóa') Thanh Hóa
                                        option(value='Thừa Thiên-Huế') Thừa Thiên-Huế
                                        option(value='Tiền Giang') Tiền Giang
                                        option(value='TP Hồ Chí Minh') TP Hồ Chí Minh
                                        option(value='Trà Vinh') Trà Vinh
                                        option(value='Tuyên Quang') Tuyên Quang
                                        option(value='Vĩnh Long') Vĩnh Long
                                        option(value='Vĩnh Phúc') Vĩnh Phúc
                                        option(value='Yên Bái') Yên Bái

                                .checkout-input
                                    label
                                        | Quận/Huyện;
                                        span *
                                    select(required='' name='district')
                                        option(hidden='') Chọn Quận/Huyện
                                .checkout-input
                                    p
                                        | Phường/Xã;
                                        span *
                                    select(required='' name='ward')
                                        option(value='' hidden='') Chọn Phường/Xã;
                                .checkout-input
                                    p Ghi chú ;
                                    textarea(name='notes' id='' cols='30' rows='5')
                            .col-lg-4.col-md-6
                                .checkout-order.p-3.bg-light
                                    h4.text-highline Giỏ hàng
                                    .checkout-order-products.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        .text-highline Sản phẩm
                                        span Thành tiền
                                    ul
                                        li
                                            | Cải ngọt thủy canh VietGAP (300g)15.000 đ
                                            span 15.000 &dstrok;
                                    .checkout-order-subtotal.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline Tiền hàng

                                        span 15.000
                                    .checkout-order-shipping.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline Phí vận chuyển

                                        span.delivery-fee 0
                                    .checkout-order-discount.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline  Phí vận chuyển đ;

                                        span.discount 0

                                    .checkout-order-total.d-flex.justify-content-between.fw-bold.fs-5.mb-3
                                        span.text-highline Tổng D

                                        span.order_total 15.000
                                    .shoping-continue
                                        label.mb-3.text-highline.fw-bold.fs-5.mb-3 Mã giảm giá;
                                        .input-group.mb-3
                                            input.form-control(name='coupon' type='text' value='')
                                            button.btn.btn-outline-secondary(name='coupon_submit') ÁP Dụng
                                        .coupon-notification
                                    button.site-btn.btn-submit.border-0.rounded-4.py-2.px-4(type='submit') Đặt Hàng
