
extends _layouts/master

block content
    section
        .detail.mt-4
            .container
                ol.breadcrumb.py-4.fs-6
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Điền thông tin
                    li.breadcrumb-item
                        a(href='#') Xác nhận
                    li.breadcrumb-item.active.css-ilends(aria-current='page')
                        p Hoàn tất đơn hàng
                .row
                    .col-lg-6.col-md-6
                        .detail-details-pic
                            .detail-details-pic-item
                                img.detail-details-pic-item-large(src='client/images/product-love-1.png')
                            .owl-carousel.owl-loaded.owl-drag
                                .owl-stage-outer
                                    .owl-stage(style='transform: translate3d(0px, 0px, 0px); transition: all; width: 436px;')
                                        .owl-item.active(style='width: 125.25px; margin-right: 20px;')
                                            img
                                        .owl-item.active(style='width: 125.25px; margin-right: 20px;')
                                            img
                                        .owl-item.active(style='width: 125.25px; margin-right: 20px;')
                                            img
                                .owl-nav.disabled
                                    button.owl-prev(type='button' role='presentation')
                                        span(aria-label='Previous') &lsaquo;
                                    button.owl-next(type='button' role='presentation')
                                        span(aria-label='Next') &rsaquo;
                                .owl-dots.disabled
                                    button.owl-dot.active(role='button')
                                        span

                    .col-lg-6.col-md-6
                        .product-details-text
                            h3(300g)
                            .product-details-price
                                | 13.000 D
                                p.mb-0
                                    span(style='font-size: 16px; text-decoration: line-through;') 15.000 &dstrok;

                            .d-flex.justify-content-between
                                .product-details-quantity

                                    .pro-qty
                                        span.dec.qtybtn -
                                        input.product-quantity(type='text' data-product-id='189' value='1')
                                        span.inc.qtybtn +

                                button.primary-btn.product-page-add-to-cart(data-product-id='2') Th&ecirc;m v&agrave;o gi&#x1ECF; h&agrave;ng


                    .col-lg-12
                        .product-details-tab
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-bs-toggle='tab' data-bs-target='#description' role='tab' aria-selected='true') M&ocirc; t&#x1EA3; s&#x1EA3;n ph&#x1EA9;m
                                li.nav-item
                                    a.nav-link(data-bs-toggle='tab' data-bs-target='#contact' role='tab' aria-selected='false') Ph&#x1EA3;n h&#x1ED3;i

                            .tab-content
                                #description.tab-pane.fade.active.show(role='tabpanel')
                                    .product-details-tab-desc
                                        h6 Mô tả sản phẩm

                                #contact.tab-pane.fade(role='tabpanel')
                                    .product-details-tab-nas
                                        .contact-form(style='padding-top: 0;')
                                            .container
                                                .row
                                                    .col-lg-12.text-center
                                                        h2.text-uppercase.fw-bold Phản hồi về chất lượng sản phẩm
                                                form(action='' method='post')
                                                    .row
                                                        .col-lg-6
                                                            input.form-control(required name='name' type='text' placeholder='Họ tên*')
                                                        .col-lg-6
                                                            input.form-control(required name='phone' type='tel' placeholder='Số điện thoại*')
                                                    .row
                                                        .col-lg-12
                                                            input.form-control(required name='email' type='email' placeholder='Email*')
                                                    .row
                                                        .col-lg-12
                                                            textarea.form-control(required name='content' placeholder='Nội dung*')
                                                    .row
                                                        .col-lg-12.text-center
                                                            input(type='hidden' name='page' value='contact')
                                                            button.site-btn(type='submit') Gửi phản hồi

