extends _layouts/master

block content
    section
        .detail-product
            .container.py-3.py-lg-5
                .row
                    .col-lg-6
                        .product-slider-bar.py-3.mb-3
                            #slider-product.carousel.slide.carousel-fade(data-bs-ride="carousel")
                                .carousel-inner.h-75
                                    .carousel-item.active.h-50.custom-carousel-item
                                        img.d-block.w-100.px-3.custom-carousel-img(src='client/images/love-product-0.jpeg')
                                    .carousel-item.h-50.custom-carousel-item
                                        img.d-block.w-100.px-3.custom-carousel-img(src='client/images/love-product-1.jpeg')
                                    .carousel-item.h-50.custom-carousel-item
                                        img.d-block.w-100.px-3.custom-carousel-img(src='client/images/love-product-2.jpeg')
                                    .carousel-item.h-50.custom-carousel-item
                                        img.d-block.w-100.px-3.custom-carousel-img(src='client/images/love-product-3.jpeg')
                                .carousel-indicators.d-block.mx-0.mb-0.mt-4.custom-carousel-indicators
                                    .row.mx-0
                                        .col-3
                                            button.w-100.h-auto.active(type='button' data-bs-target='#slider-product' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                                                img.d-block.w-100.rounded-4.custom-indicator-img(src='client/images/love-product-0.jpeg')
                                        .col-3
                                            button.w-100.h-auto(type='button' data-bs-target='#slider-product' data-bs-slide-to='1' aria-label='Slide 2')
                                                img.d-block.w-100.rounded-4.custom-indicator-img(src='client/images/love-product-1.jpeg')
                                        .col-3
                                            button.w-100.h-auto(type='button' data-bs-target='#slider-product' data-bs-slide-to='2' aria-label='Slide 3')
                                                img.d-block.w-100.rounded-4.custom-indicator-img(src='client/images/love-product-2.jpeg')
                                        .col-3
                                            button.w-100.h-auto(type='button' data-bs-target='#slider-product' data-bs-slide-to='3' aria-label='Slide 4')
                                                img.d-block.w-100.rounded-4.custom-indicator-img(src='client/images/love-product-3.jpeg')

                    .col-12.col-md-6.col-lg-6
                        h1.title-product Baby Three Year Version 3 Vinyl Doll ( Ch&iacute;nh H&atilde;ng )
                        .reviews_details_product
                            .sapo-product-reviews-badge.sapo-product-reviews-badge-detail(data-id='37003102')
                        .inventory_quantity
                            span.mb-break
                                span.stock-brand-title Th&#x1B0;&#x1A1;ng hi&#x1EC7;u:
                                span.a-vendor
                                    | BabyThree
                            span.line &nbsp;&nbsp;|&nbsp;&nbsp;
                            span.mb-break
                                span.stock-brand-title T&igrave;nh tr&#x1EA1;ng:
                                span.a-stock
                                    span.a-stock C&ograve;n h&agrave;ng
                        form#add-to-cart-form.form-inline(enctype='multipart/form-data' data-cart-form='' action='/cart/add' method='post')
                            .price-box.clearfix
                                span.special-price
                                    span.price.product-price 390.000&#x20AB;
                                    meta(itemprop='price' content='390000')
                                    meta(itemprop='priceCurrency' content='VND')
                                // Giá Khuyến mại
                                span.old-price(itemprop='priceSpecification' itemscope='' itemtype='' style='display: none;')
                                    del.price.product-price-old(style='display: none;')
                                    meta(itemprop='price' content='0')
                                    meta(itemprop='priceCurrency' content='VND')
                                // Giá gốca
                            .product-summary
                                .rte
                                    p
                                        strong &rarr; THÔNG TIN SẢN PHẨM:
                                    p
                                        strong - TÊN SẢN PHẨM:
                                        | Áo Thun Nam Cotton Basic (Chính Hãng)
                                    p
                                        strong - THƯƠNG HIỆU:
                                        | Coolmate
                                    p
                                        strong - KÍCH THƯỚC:
                                        | S, M, L, XL
                                    p
                                        strong - MÀU SẮC:
                                        | Đen, Trắng, Xanh
                                    p
                                        strong - CHẤT LIỆU:
                                        | 100% Cotton
                                    p
                                        strong - BAO BÌ ĐÓNG GÓI:
                                        | Túi giấy thân thiện môi trường
                            .form-product
                                .select-swatch
                                    .swatch.clearfix(data-option-index='0')
                                        .header Title
                                        .swatch-element.blindbox.available(data-value='Blindbox')
                                            input#swatch-0-blindbox(type='radio' name='option-0' value='Blindbox' checked='' data-price='390000')
                                            label(for='swatch-0-blindbox')
                                                | Blindbox
                                                img.crossed-out(src='2' alt='blindbox')
                                        .swatch-element.nguyen-set-6-blindbox.available(data-value='Nguyên set 6 blindbox')
                                            input#swatch-0-nguyen-set-6-blindbox(type='radio' name='option-0' value='Nguyên set 6 blindbox' data-price='2340000')
                                            label(for='swatch-0-nguyen-set-6-blindbox')
                                                | Nguy&ecirc;n set 6 blindbox
                                                img.crossed-out(src='' alt='nguyen-set-6-blindbox')

                                .form-group.mb-4
                                    .flex-quantity.d-flex.align-content-center
                                        .custom.custom-btn-number.show
                                            label.sl.section S&#x1ED1; l&#x1B0;&#x1EE3;ng:
                                            .form-control.d-flex.justify-content-between.border-0.bt-buy
                                                button.btn_num.num_1.button.button_qty.bt-buy(onclick="var result = document.getElementById('qtym'); var qtypro = result.value; if( !isNaN( qtypro ) && qtypro > 1 ) result.value--;return false;" type='button') -
                                                input#qtym.form-control.prd_quantity(type='text' name='quantity' value='1' maxlength='3' onkeypress='if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;' onchange='if(this.value == 0)this.value=1;')
                                                button.btn_num.num_2.button.button_qty.bt-buy(onclick="var result = document.getElementById('qtym'); var qtypro = result.value; if( !isNaN( qtypro )) result.value++;return false;" type='button') +
                                        .btn.btn-mua.btn-primari.mt-3.p-2.align-content-center.ms-3(type='submit')
                                            p.mb-0 Thêm Vào Giỏ Hàng


                .tab-pane.fade.w-100(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='1')
                    ul.nav.nav-pills.my-4.btn-class.nav-justified.rounded-4.product-dtail(role='tablist')
                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3.active(data-bs-toggle='pill' data-bs-target='#referral' type='button' role='tab' aria-selected='true') Thông Tin Sản Phẩm

                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3(data-bs-toggle='pill' data-bs-target='#account' type='button' role='tab' aria-selected='false' tabindex='-1') Chính Sách Bảo Hành

                    .tab-content.my-3
                        #referral.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                            .product-summary
                                .product-description
                                    h2.title Mô Tả Sản Phẩm
                                    p
                                        | Đây là sản phẩm
                                        strong Baby Three Year Version 3 Vinyl Doll
                                        | chính hãng, được thiết kế tinh xảo với chất liệu cao cấp, phù hợp cho cả trẻ em và những người yêu thích sưu tầm.

                                .product-specifications
                                    h3 Thông Số Kỹ Thuật
                                    ul
                                        li
                                            strong Kích thước:
                                            | ~20cm
                                        li
                                            strong Chất liệu:
                                            | PVC / ABS
                                        li
                                            strong Màu sắc:
                                            | Đa dạng
                                        li
                                            strong Độ tuổi phù hợp:
                                            | Trẻ em từ 3 tuổi trở lên
                                        li
                                            strong Thương hiệu:
                                            | Baby Three
                                        li
                                            strong Mã sản phẩm:
                                            | B3-V3-Vinyl
                                        li
                                            strong Xuất xứ:
                                            | Trung Quốc

                                .product-features
                                    h3 Tính Năng Nổi Bật
                                    ul
                                        li
                                            | Thiết kế dễ thương, phù hợp làm quà tặng cho trẻ em hoặc những người sưu tầm.
                                        li
                                            | Chất liệu PVC và ABS bền đẹp, an toàn cho người sử dụng.
                                        li
                                            | Dễ dàng bảo quản và vệ sinh.
                                        li
                                            | Được đóng gói trong hộp màu sang trọng, rất phù hợp để làm quà tặng.

                                .product-advantages
                                    h3 Lợi Ích Khi Sử Dụng
                                    ul
                                        li
                                            | Giúp phát triển trí tưởng tượng và khả năng sáng tạo của trẻ em.
                                        li
                                            | Là món đồ chơi bổ ích cho bé, giúp bé học hỏi và vui chơi mỗi ngày.
                                        li
                                            | Chất liệu an toàn, không gây hại cho sức khỏe của trẻ nhỏ.
                                        li
                                            | Món quà ý nghĩa cho những người yêu thích sưu tầm đồ chơi mô hình.

                                .product-notes
                                    h3 Lưu Ý Khi Sử Dụng
                                    p
                                        | Sản phẩm không phù hợp cho trẻ em dưới 3 tuổi vì có thể gây nguy hiểm do các chi tiết nhỏ.
                                    p
                                        | Tránh để sản phẩm tiếp xúc với nhiệt độ cao hoặc nước nóng.
                                    p
                                        | Vệ sinh sản phẩm thường xuyên bằng vải mềm để giữ cho sản phẩm luôn như mới.

                                .product-reviews
                                    h3 Đánh Giá Sản Phẩm
                                    .review-box
                                        .review-title
                                            h4 Đánh giá của khách hàng
                                        .review-item
                                            .review-rating
                                                span ★★★★☆
                                            .review-comment
                                                p Đây là một món đồ chơi tuyệt vời, bé nhà tôi rất thích. Chất lượng rất tốt và đáng tiền!
                                        .review-item
                                            .review-rating
                                                span ★★★★☆
                                            .review-comment
                                                p Sản phẩm rất đẹp và tinh xảo, nhưng tôi nghĩ có thể cải thiện thêm một chút về chi tiết.
                                    button.btn.btn-primary.mt-3 Thêm Đánh Giá

                        #account.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                                .warranty-info
                                    h3 Thông Tin Bảo Hành
                                    p Sản phẩm này được bảo hành trong vòng 12 tháng kể từ ngày mua.
                                    p Bảo hành áp dụng cho các lỗi kỹ thuật từ nhà sản xuất.
                                    p Lưu ý: Không bảo hành đối với các hư hỏng do người sử dụng.
                                    p Liên hệ với chúng tôi để biết thêm chi tiết.

                .title.text-uppercase.text-center.my-4 Sản Phẩm Liên Quan
                .product-short
                        .slider-box.mb-4.mb-lg-5
                            .box-content.py-3.px-4(style="--bgcolor: #FFF0B4")
                                #product-1.carousel.slide(data-bs-ride="carousel")
                                    .carousel-inner
                                        .carousel-item.active
                                            .w-100
                                                .row.mx-0
                                                    - for (var i = 0; i < 4; ++i)
                                                        .col-6.col-lg-3.mb-3
                                                            a(href='product.html')
                                                                .product-item
                                                                    img.w-100(src='client/images/love-product-' +i+ '.jpeg')
                                        .carousel-item
                                            .w-100
                                                .row.mx-0
                                                    - for (var i = 0; i < 4; ++i)
                                                        .col-6.col-lg-3.mb-3
                                                            a(href='product.html')
                                                                .product-item
                                                                    img.w-100(src='client/images/love-product-' +i+ '.jpeg')
                                    button.carousel-control-prev(type='button' data-bs-target='#product-1' data-bs-slide='prev')
                                        span.carousel-control-prev-icon(aria-hidden='true')
                                        span.visually-hidden Previous
                                    button.carousel-control-next(type='button' data-bs-target='#product-1' data-bs-slide='next')
                                        span.carousel-control-next-icon(aria-hidden='true')
                                        span.visually-hidden Next

