extends _layouts/master

block content
    section
        #carouselExampleIndicator.carousel.slide(data-bs-ride='carousel')
            .carousel-indicators
                button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
                button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100.carousel-img(src='client/images/banner-1.jpg')

                .carousel-item
                    img.d-block.w-100(src='client/images/banner-1.jpg')
                .carousel-item
                    img.d-block.w-100(src='client/images/banner-1.jpg')
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
        #team.team.team-box.pb-4.my-5
            .team-content.pb-3.pb-lg-5
                .container
                    .wow.fadeInUp(data-wow-delay='0.3s' data-wow-duration='0.3s')
                        .justify-content-center.my-5.w-100
                            .text-center.justify-content-center.mb-2
                                .page-title
                                    h1.text-center.service-title.text-uppercase.color-titlel Sản Phẩm Hot
                                    .fs-5.text-center.service-title.text-uppercase.text-while.justify-content-center
                                         |   Meet of Professionals
                    .row
                        - for (var i = 0; i < 9; ++i)
                            .col-md-6.col-lg-4.py-3.wow.fadeInUp(data-wow-delay='0.5s' data-wow-duration='0.3s')
                                .card.team-card.hvr-float
                                    .card-body
                                        .card-img.w-100.justify-content-center.team-banner
                                            img.team-img(src="client/images/product-" + i + ".jpeg")
                                        .mx-3.product-bg
                                            img.team-people(src='client/images/VietNam.png')
                                        .pt-2.text-start.d-flex.align-items-center
                                            i.fa-solid.fa-user
                                            p.mb-0.mx-3 55K Buying

                                        .d-flex.align-items-center.justify-content-around
                                            h5#rating-display.mt-2.text-center.mb-0 Rating: 0
                                            .star-rating.d-flex.justify-content-center.pt-2
                                                span.star(data-value='5') &#9733;
                                                span.star(data-value='4') &#9733;
                                                span.star(data-value='3') &#9733;
                                                span.star(data-value='2') &#9733;
                                                span.star(data-value='1') &#9733;

                                        .d-flex.align-items-center.mt-1
                                            i.fa-solid.fa-location-dot
                                            p.mb-0.ms-3 VietNam
                                    .line-team.d-flex.text-start.my-2
                                        h4.text-highline.ms-3.mb-0 1,400 $
                                        p.ms-3.text-decoration-line-through.mb-0 1,200 $

                                    p.align-items-center.text-start.mx-3
                                       | là một trong số những loại áo có cổ, hay còn được nhiều người biết tới là áo cổ gập
                                    .align-items-center.text-start.mx-3.mb-2
                                        button.btn.btn-submit.text-white(type='submit') Oder Now
        #sell.featured.spad
                .container
                    .row
                        .col-lg-12
                            .text-center.mb-3.text-highline
                                h2 Featured Product
                            .featured-controls
                                ul.controls-list
                                    li.active.list-nav(data-filter='*') All
                                    li.list-nav(data-filter='. ') Nhẫn
                                    li.list-nav(data-filter='.') Dây Chuyền
                                    li.list-nav(data-filter='.') Lăc tay
                                    li.list-nav(data-filter='.') Dây Lưng
                    .featured-filter
                        .row
                            - for (var i = 1; i < 9; ++i)
                                .col-lg-3.col-md-4.col-sm-6
                                    .featured-item.mb-4
                                        .featured-item-pic.set-bg(data-setbg)
                                            img(src="client/images/featured/feature-"+ i + ".jpg")
                                            ul.featured-item-pic-hover
                                                li.featured-item-list
                                                    a(href='#')
                                                        i.fa.fa-heart
                                                li.featured-item-list
                                                    a(href='#')
                                                        i.fa.fa-retweet
                                                li.featured-item-list
                                                    a(href='#')
                                                        i.fa.fa-shopping-cart
                                        .featured-item-text.text-highline.text-center
                                            h6.text
                                                a(href='#') Crab Pool Security
                                            h5.text-price $30.00
        #blogsection.from-blog.spad
                .container
                    .row
                        .col-lg-12
                            .section-title.from-blog-title.text-center.mb-4.text-highline
                                h2 From The Blog
                    .row
                        .col-lg-4.col-md-4.col-sm-6
                            .blog-item
                                .blog-item-pic
                                    img(src='client/images/blog/blog-1.jpg' alt='')
                                .blog-item-text
                                    .d-flex.text-start
                                        p.mb-0
                                            i.fa-regular.fa-calendar
                                            |  May 4,2019
                                        p.mb-0.ms-3
                                            i.fa-regular.fa-comment
                                            |  5
                                    h5
                                        a(href='#') Cooking tips make cooking simple
                                    p
                                        | Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat
                        .col-lg-4.col-md-4.col-sm-6
                            .blog-item
                                .blog-item-pic
                                    img(src='client/images/blog/blog-2.jpg' alt='')
                                .blog-item-text
                                    .d-flex.text-start
                                        p.mb-0
                                            i.fa-regular.fa-calendar
                                            |  May 4,2019
                                        p.mb-0.ms-3
                                            i.fa-regular.fa-comment
                                            |  5
                                    h5
                                        a(href='#') 6 ways to prepare breakfast for 30
                                    p
                                        | Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat
                        .col-lg-4.col-md-4.col-sm-6
                            .blog-item
                                .blog-item-pic
                                    img(src='client/images/blog/blog-3.jpg' alt='')
                                .blog-item-text
                                    .d-flex.text-start
                                        p.mb-0
                                            i.fa-regular.fa-calendar
                                            |  May 4,2019
                                        p.mb-0.ms-3
                                            i.fa-regular.fa-comment
                                            |  5
                                    h5
                                        a(href='#') Visit the clean farm in the US
                                    p
                                        | Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat


