extends _layouts/master

block content
    section
        .new-post
            .container
                ol.breadcrumb.py-4.fs-6
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Điền thông tin
                    li.breadcrumb-item
                        a(href='#') Xác nhận
                    li.breadcrumb-item.active.css-ilends(aria-current='page')
                        p Hoàn tất đơn hàng

                .row.gy-5
                    - for (var i = 0; i < 8; ++i)
                        .col-lg-4.col-md-6
                            article.w-100
                                .post-img.w-100
                                    img.img-fluid.w-100(src='client/images/blog/blog-1.jpg' alt='')
                                .meta-top
                                    ul.p-0.text-start
                                        li.d-flex.align-items-center
                                            a.text-black(href='') Sorts
                                        li.d-flex.align-items-center
                                            i.bi.bi-dot
                                            a.text-black(href='')
                                                time(datetime='2022-01-01') Jan 1, 2024
                                p.title.text-start.text-black.fs-4 Dolorum optio tempore voluptas dignissimos

                                .btn.btn-primari.p-3 READ MORE



