extends _layouts/master

block content
    section
        .oder
            .container.order-container.mt-5
                .text-center
                    h1.order-title Qu&#x1EA3;n l&yacute; &Dstrok;&#x1A1;n h&agrave;ng
                .tab-pane.fade.w-100(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='1')
                    ul.nav.nav-pills.my-4.btn-class.nav-justified.rounded-4.order-tabs(role='tablist')
                        li.nav-item
                            button.nav-link.py-lg-3.active(data-bs-toggle='tab' data-bs-target='#all' type='button' role='tab') T&#x1EA5;t c&#x1EA3;
                        li.nav-item
                            button.nav-link.py-lg-3(data-bs-toggle='tab' data-bs-target='#processing' type='button' role='tab') &Dstrok;ang x&#x1EED; l&yacute;
                        li.nav-item
                            button.nav-link.py-lg-3(data-bs-toggle='tab' data-bs-target='#shipping' type='button' role='tab') &Dstrok;ang v&#x1EAD;n chuy&#x1EC3;n
                        li.nav-item
                            button.nav-link.py-lg-3(data-bs-toggle='tab' data-bs-target='#delivered' type='button' role='tab') &Dstrok;&atilde; giao
                        li.nav-item
                            button.nav-link.py-lg-3(data-bs-toggle='tab' data-bs-target='#canceled' type='button' role='tab') &Dstrok;&atilde; h&#x1EE7;y

                .tab-content.order-content
                    // All Orders
                    #all.tab-pane.fade.show.active(role='tabpanel')
                        .d-flex.align-items-center.justify-content-between.border-bottom.pb-3.mb-3
                            .d-flex.align-items-center
                                img.rounded-circle.me-2(src='https://via.placeholder.com/40' alt='Shop Logo')
                                strong.shop-name mycover.vn
                            div
                                button.btn.btn-outline-secondary.btn-sm.me-2 Chat
                                button.btn.btn-outline-secondary.btn-sm Xem Shop
                        // Product Information
                        .d-flex
                            // Product Image
                            .me-3
                                img.rounded(src='https://via.placeholder.com/80' alt='Product Image')
                            // Product Details
                            .flex-grow-1
                                h6.product-title.mb-1 &#x1ED0;p &dstrok;i&#x1EC7;n tho&#x1EA1;i T&#x1EEB; T&iacute;nh Trong Su&#x1ED1;t Cho iPhone 11 15 12 13...
                                p.product-category.text-muted.mb-1 Ph&acirc;n lo&#x1EA1;i h&agrave;ng: M&agrave;u h&#x1ED3;ng nh&#x1EA1;t, iPhone 11
                                p.product-quantity.text-muted.mb-1 x1
                            // Order Status
                            .text-end
                                span.badge.bg-warning.text-dark.order-status V&#x1EAD;n chuy&#x1EC3;n
                                p.text-muted.small.mt-1 [Qu&#x1ED1;c T&#x1EBF;] Ng&#x1B0;&#x1EDD;i g&#x1EED;i &dstrok;ang chu&#x1EA9;n b&#x1ECB; h&agrave;ng
                        // Order Footer
                        .border-top.pt-3.mt-3
                            p.text-muted.small.mb-2
                                | &Dstrok;&#x1A1;n h&agrave;ng s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c chu&#x1EA9;n b&#x1ECB; v&agrave; chuy&#x1EC3;n &dstrok;i tr&#x1B0;&#x1EDB;c
                                strong 30-11-2024
                                | .
                            .d-flex.justify-content-between.align-items-center
                                div
                                    span.text-muted Th&agrave;nh ti&#x1EC1;n:
                                    span.text-danger.fs-5.fw-bold &#x20AB;25.130
                                div
                                    button.btn.btn-outline-danger.btn-sm.me-2 H&#x1EE7;y &Dstrok;&#x1A1;n H&agrave;ng
                                    button.btn.btn-outline-primary.btn-sm Li&ecirc;n H&#x1EC7; Ng&#x1B0;&#x1EDD;i B&aacute;n

                        // Add more order items here
                    // Processing Orders
                    #processing.tab-pane.fade(role='tabpanel')
                        p.text-center.text-muted Kh&ocirc;ng c&oacute; &dstrok;&#x1A1;n h&agrave;ng &dstrok;ang x&#x1EED; l&yacute;.
                    // Shipping Orders
                    #shipping.tab-pane.fade(role='tabpanel')
                        // Header: Shop Information
                        .d-flex.align-items-center.justify-content-between.border-bottom.pb-3.mb-3
                            .d-flex.align-items-center
                                img.rounded-circle.me-2(src='https://via.placeholder.com/40' alt='Shop Logo')
                                strong.shop-name mycover.vn
                            div
                                button.btn.btn-outline-secondary.btn-sm.me-2 Chat
                                button.btn.btn-outline-secondary.btn-sm Xem Shop
                        // Product Information
                        .d-flex
                            // Product Image
                            .me-3
                                img.rounded(src='https://via.placeholder.com/80' alt='Product Image')
                            // Product Details
                            .flex-grow-1
                                h6.product-title.mb-1
                                    | &#x1ED0;p &dstrok;i&#x1EC7;n tho&#x1EA1;i T&#x1EEB; T&iacute;nh Trong Su&#x1ED1;t Cho iPhone 11 15 12 13 Pro Max...
                                p.product-category.text-muted.mb-1 Ph&acirc;n lo&#x1EA1;i h&agrave;ng: M&agrave;u h&#x1ED3;ng nh&#x1EA1;t, iPhone 11
                                p.product-price.text-muted.mb-1
                                    | Gi&aacute;:
                                    del &#x20AB;66.000
                                    span.text-danger &#x20AB;17.900
                                p.product-quantity.text-muted.mb-1 S&#x1ED1; l&#x1B0;&#x1EE3;ng: x1
                            // Order Status
                            .text-end
                                span.badge.bg-warning.text-dark.order-status V&#x1EAD;n chuy&#x1EC3;n
                                p.text-muted.small.mt-1 [Qu&#x1ED1;c T&#x1EBF;] Ng&#x1B0;&#x1EDD;i g&#x1EED;i &dstrok;ang chu&#x1EA9;n b&#x1ECB; h&agrave;ng
                        // Order Footer
                        .border-top.pt-3.mt-3
                            p.text-muted.small.mb-2
                                | &Dstrok;&#x1A1;n h&agrave;ng s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c chu&#x1EA9;n b&#x1ECB; v&agrave; chuy&#x1EC3;n &dstrok;i tr&#x1B0;&#x1EDB;c
                                strong 30-11-2024
                                | .
                            .d-flex.justify-content-between.align-items-center
                                div
                                    span.text-muted Th&agrave;nh ti&#x1EC1;n:
                                    span.text-danger.fs-5.fw-bold &#x20AB;25.130
                                div
                                    button.btn.btn-outline-danger.btn-sm.me-2 H&#x1EE7;y &Dstrok;&#x1A1;n H&agrave;ng
                                    button.btn.btn-outline-primary.btn-sm Li&ecirc;n H&#x1EC7; Ng&#x1B0;&#x1EDD;i B&aacute;n

                    // Delivered Orders
                    #delivered.tab-pane.fade(role='tabpanel')
                        // Header: Shop Information
                        .d-flex.align-items-center.justify-content-between.border-bottom.pb-3.mb-3
                            .d-flex.align-items-center
                                button.btn.btn-danger.btn-sm.me-2 Y&ecirc;u th&iacute;ch
                                strong.shop-name Topick Global
                            div
                                button.btn.btn-outline-secondary.btn-sm.me-2 Chat
                                button.btn.btn-outline-secondary.btn-sm Xem Shop
                        // Product Information
                        .d-flex
                            // Product Image
                            .me-3
                                img.rounded(src='https://via.placeholder.com/80' alt='Product Image')
                            // Product Details
                            .flex-grow-1
                                h6.product-title.mb-1
                                    | B&#x1ED9; chuy&#x1EC3;n &dstrok;&#x1ED5;i USB C sang USB 2 g&oacute;i, &Dstrok;&#x1EA7;u n&#x1ED1;i nam USB-A sang USB-C...
                                p.product-category.text-muted.mb-1 Ph&acirc;n lo&#x1EA1;i h&agrave;ng: M&agrave;u x&aacute;m
                                p.product-price.text-muted.mb-1
                                    | Gi&aacute;:
                                    del &#x20AB;19.000
                                    span.text-danger &#x20AB;15.000
                                p.product-quantity.text-muted.mb-1 S&#x1ED1; l&#x1B0;&#x1EE3;ng: x2
                            // Order Status
                            .text-end
                                span.badge.bg-success.order-status Giao h&agrave;ng th&agrave;nh c&ocirc;ng
                                button.btn.btn-outline-primary.btn-sm.mt-2 &Dstrok;&aacute;nh Gi&aacute;
                        // Order Footer
                        .border-top.pt-3.mt-3
                            p.text-muted.small.mb-2
                                | Voucher
                                strong &#x20AB;15.000
                                |  &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c l&#x1B0;u v&#x1EC1; Kho Voucher c&#x1EE7;a b&#x1EA1;n. H&atilde;y s&#x1EED; d&#x1EE5;ng &dstrok;&#x1EC3; mua s&#x1EAF;m ngay nh&eacute;!
                            p.text-muted.small &Dstrok;ang ch&#x1EDD; Ng&#x1B0;&#x1EDD;i b&aacute;n &dstrok;&aacute;nh gi&aacute;
                            .d-flex.justify-content-between.align-items-center
                                div
                                    span.text-muted Th&agrave;nh ti&#x1EC1;n:
                                    span.text-danger.fs-5.fw-bold &#x20AB;30.000
                                .d-flex.align-items-center
                                    button.btn.btn-danger.btn-sm.me-2 Mua L&#x1EA1;i
                                    button.btn.btn-outline-secondary.btn-sm.me-2 Y&ecirc;u C&#x1EA7;u Tr&#x1EA3; H&agrave;ng/Ho&agrave;n Ti&#x1EC1;n
                                    button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(data-bs-toggle='dropdown') Th&ecirc;m
                                    ul.dropdown-menu
                                        li
                                            a.dropdown-item(href='#') Xem Chi Ti&#x1EBF;t
                                        li
                                            a.dropdown-item(href='#') Kh&aacute;c

                    // Canceled Orders
                    #canceled.tab-pane.fade(role='tabpanel')
                        p.text-center.text-muted Kh&ocirc;ng c&oacute; &dstrok;&#x1A1;n h&agrave;ng b&#x1ECB; h&#x1EE7;y.
