extends _layouts/master

block content
    section
        .container.my-4
            .row
                .col-md-6.mb-4
                    .card
                        img.card-img-top(src='' alt='Hình minh họa bài viết')
                        .card-body
                            h5.card-title Ti&ecirc;u &dstrok;&#x1EC1; b&agrave;i vi&#x1EBF;t
                            p.card-text
                                | &Dstrok;&acirc;y l&agrave; n&#x1ED9;i dung ng&#x1EAF;n g&#x1ECD;n gi&#x1EDB;i thi&#x1EC7;u v&#x1EC1; b&agrave;i vi&#x1EBF;t. B&#x1EA1;n c&oacute; th&#x1EC3; th&ecirc;m th&ocirc;ng tin chi ti&#x1EBF;t ho&#x1EB7;c m&#x1ED9;t &dstrok;o&#x1EA1;n tr&iacute;ch ng&#x1EAF;n.
                            p.text-muted.small Ng&agrave;y &dstrok;&abreve;ng: 25/11/2024 | T&aacute;c gi&#x1EA3;: Admin
                            a.btn.btn-primary(href='article-detail.html') &Dstrok;&#x1ECD;c th&ecirc;m

                .col-md-6.mb-4
                    .card
                        img.card-img-top(src='' alt='Hình minh họa bài viết')
                        .card-body
                            h5.card-title Ti&ecirc;u &dstrok;&#x1EC1; b&agrave;i vi&#x1EBF;t kh&aacute;c
                            p.card-text
                                | M&#x1ED9;t &dstrok;o&#x1EA1;n tr&iacute;ch ng&#x1EAF;n kh&aacute;c gi&#x1EDB;i thi&#x1EC7;u v&#x1EC1; b&agrave;i vi&#x1EBF;t th&#x1EE9; hai. N&#x1ED9;i dung gi&uacute;p kh&aacute;ch h&agrave;ng hi&#x1EC3;u th&ecirc;m v&#x1EC1; s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c d&#x1ECB;ch v&#x1EE5;.
                            p.text-muted.small Ng&agrave;y &dstrok;&abreve;ng: 20/11/2024 | T&aacute;c gi&#x1EA3;: Admin
                            a.btn.btn-primary(href='article-detail.html') &Dstrok;&#x1ECD;c th&ecirc;m
