extends _layouts/master

block content
    section
        .product
            .container
                ol.breadcrumb.py-lg-4.fs-6
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item
                        a(href='#') Điền thông tin
                    li.breadcrumb-item
                        a(href='#') Xác nhận
                    li.breadcrumb-item.active.css-ilends(aria-current='page')
                        p Hoàn tất đơn hàng

                .tab-pane.fade.w-100(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='1')
                    ul.nav.nav-pills.my-4.btn-class.nav-justified.rounded-4.product-tags(role='tablist')
                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3.active(data-bs-toggle='pill' data-bs-target='#referral' type='button' role='tab' aria-selected='true') Nhẫn
                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3(data-bs-toggle='pill' data-bs-target='#account' type='button' role='tab' aria-selected='false' tabindex='-1') Dây Chuyền
                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3(data-bs-toggle='pill' data-bs-target='#transaction' type='button' role='tab' aria-selected='false' tabindex='-1') Lắc Tay
                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3(data-bs-toggle='pill' data-bs-target='#level' type='button' role='tab' aria-selected='false' tabindex='-1') Dây Lưng
                        li.nav-item(role='presentation')
                            button.nav-link.py-lg-3(data-bs-toggle='pill' data-bs-target='#matching' type='button' role='tab' aria-selected='false' tabindex='-1') Phụ Kiện

                #carouselExampleIndicator.carousel.slide(data-bs-ride='carousel')
                    .carousel-indicators
                        button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
                        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100.carousel-img(src='client/images/banner-1.jpg')

                        .carousel-item
                            img.d-block.w-100(src='client/images/banner-1.jpg')
                        .carousel-item
                            img.d-block.w-100(src='client/images/banner-1.jpg')
                    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                .container
                    .row
                        .tab-content.my-3
                            #referral.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                                .row.g-4
                                    - for (var i = 0; i < 10; ++i)
                                        .col-md-6.col-lg-4.col-xl-3
                                            .rounded.position-relative.fruite-item
                                                .fruite-img
                                                    img.img-fluid.w-100.rounded-top(src='client/images/blog/blog-1.jpg' alt='')
                                                .text-white.bg-secondary.px-3.py-1.rounded.position-absolute(style='top: 10px; left: 10px;') Fruits
                                                .p-2.border-top-0.rounded-bottom.boder-line
                                                    .px-2
                                                        h4 Áo Polo
                                                        p
                                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt
                                                    p.text-dark.fs-5.fw-bold.mb-0.ms-2 $4.99
                                                    .d-flex.justify-content-between.mt-2
                                                        a.btn.rounded-pill.p-2.btn-apply(href='detail.html')
                                                            i.fa-solid.fa-magnifying-glass
                                                            |  Xem Nhanh
                                                        a.btn.rounded-pill.p-2.btn-apply(href='#')
                                                            i.fa.fa-shopping-bag
                                                            |  Add to cart


                                .col-12.text-center.py-4
                                    a.btn.btn-primari.py-2.px-4(href='') Load More Products

                            #account.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                                .row.g-4
                                    - for (var i = 0; i < 10; ++i)
                                        .col-md-6.col-lg-4.col-xl-3
                                            .rounded.position-relative.fruite-item
                                                .fruite-img
                                                    img.img-fluid.w-100.rounded-top(src='client/images/blog/blog-1.jpg' alt='')
                                                .text-white.bg-secondary.px-3.py-1.rounded.position-absolute(style='top: 10px; left: 10px;') Fruits
                                                .p-2.border-top-0.rounded-bottom.boder-line
                                                    .px-2
                                                        h4 Áo Polo
                                                        p
                                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt
                                                    p.text-dark.fs-5.fw-bold.mb-0.ms-2 $4.99
                                                    .d-flex.justify-content-between.mt-2
                                                        a.btn.rounded-pill.p-2.btn-apply(href='detail.html')
                                                            i.fa-solid.fa-magnifying-glass
                                                            |  Xem Nhanh
                                                        a.btn.rounded-pill.p-2.btn-apply(href='#')
                                                            i.fa.fa-shopping-bag
                                                            |  Add to cart




                                .col-12.text-center
                                    a.btn.btn-primari.py-2.px-4(href='') Load More Products

                            #transaction.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')
                                .row.g-4
                                    - for (var i = 0; i < 10; ++i)
                                        .col-md-6.col-lg-4.col-xl-3
                                            .rounded.position-relative.fruite-item
                                                .fruite-img
                                                    img.img-fluid.w-100.rounded-top(src='client/images/blog/blog-1.jpg' alt='')
                                                .text-white.bg-secondary.px-3.py-1.rounded.position-absolute(style='top: 10px; left: 10px;') Fruits
                                                .p-2.border-top-0.rounded-bottom.boder-line
                                                    .px-2
                                                        h4 Áo Polo
                                                        p
                                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt
                                                    p.text-dark.fs-5.fw-bold.mb-0.ms-2 $4.99
                                                    .d-flex.justify-content-between.mt-2
                                                        a.btn.rounded-pill.p-2.btn-apply(href='detail.html')
                                                            i.fa-solid.fa-magnifying-glass
                                                            |  Xem Nhanh
                                                        a.btn.rounded-pill.p-2.btn-apply(href='#')
                                                            i.fa.fa-shopping-bag
                                                            |  Add to cart




                                .col-12.text-center
                                    a.btn.btn-primari.py-2.px-4(href='') Load More Products
                            #level.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')
                                .row.g-4
                                    - for (var i = 0; i < 10; ++i)
                                        .col-md-6.col-lg-4.col-xl-3
                                            .rounded.position-relative.fruite-item
                                                .fruite-img
                                                    img.img-fluid.w-100.rounded-top(src='client/images/blog/blog-1.jpg' alt='')
                                                .text-white.bg-secondary.px-3.py-1.rounded.position-absolute(style='top: 10px; left: 10px;') Fruits
                                                .p-2.border-top-0.rounded-bottom.boder-line
                                                    .px-2
                                                        h4 Áo Polo
                                                        p
                                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt
                                                    p.text-dark.fs-5.fw-bold.mb-0.ms-2 $4.99
                                                    .d-flex.justify-content-between.mt-2
                                                        a.btn.rounded-pill.p-2.btn-apply(href='detail.html')
                                                            i.fa-solid.fa-magnifying-glass
                                                            |  Xem Nhanh
                                                        a.btn.rounded-pill.p-2.btn-apply(href='#')
                                                            i.fa.fa-shopping-bag
                                                            |  Add to cart



                                .col-12.text-center
                                    a.btn.btn-primari.py-2.px-4(href='') Load More Products
                            #matching.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')
                                .row.g-4
                                    - for (var i = 0; i < 10; ++i)
                                        .col-md-6.col-lg-4.col-xl-3
                                            .rounded.position-relative.fruite-item
                                                .fruite-img
                                                    img.img-fluid.w-100.rounded-top(src='client/images/blog/blog-1.jpg' alt='')
                                                .text-white.bg-secondary.px-3.py-1.rounded.position-absolute(style='top: 10px; left: 10px;') Fruits
                                                .p-2.border-top-0.rounded-bottom.boder-line
                                                    .px-2
                                                        h4 Áo Polo
                                                        p
                                                            | Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt
                                                    p.text-dark.fs-5.fw-bold.mb-0.ms-2 $4.99
                                                    .d-flex.justify-content-between.mt-2
                                                        a.btn.rounded-pill.p-2.btn-apply(href='detail.html')
                                                            i.fa-solid.fa-magnifying-glass
                                                            |  Xem Nhanh
                                                        a.btn.rounded-pill.p-2.btn-apply(href='#')
                                                            i.fa.fa-shopping-bag
                                                            |  Add to cart




                                .col-12.text-center
                                    a.btn.btn-primari.py-2.px-4(href='') Load More Products



