extends _layouts/master-vp

block content
    section
        .update-admin.px-3
            .container
                .rounded.my-3.bg-profile
                    .row
                        .col-md-5.border-right
                            .d-flex.flex-column.align-items-center.text-center.p-3.py-5
                                img.rounded-circle.mt-5(width='150px' src='https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg')
                                span.font-weight-bold Edogaru
                                span.text-black edogaru@mail.com.my
                                span
                        .col-md-7.border-right
                            .p-3.py-5
                                .d-flex.justify-content-between.align-items-center.mb-3
                                    h4.text-right Profile Settings
                                .row.mt-2
                                    .col-md-6
                                        label.labels Name
                                        input.form-control(type='text' placeholder='first name' value='')
                                    .col-md-6
                                        label.labels Surname
                                        input.form-control(type='text' value='' placeholder='surname')
                                .row.mt-3
                                    .col-md-12
                                        label.labels Mobile Number
                                        input.form-control(type='text' placeholder='enter phone number' value='')
                                    .col-md-12
                                        label.labels Address Line 1
                                        input.form-control(type='text' placeholder='enter address line 1' value='')
                                    .col-md-12
                                        label.labels Address Line 2
                                        input.form-control(type='text' placeholder='enter address line 2' value='')
                                    .col-md-12
                                        label.labels Postcode
                                        input.form-control(type='text' placeholder='enter address line 2' value='')
                                    .col-md-12
                                        label.labels State
                                        input.form-control(type='text' placeholder='enter address line 2' value='')
                                    .col-md-12
                                        label.labels Area
                                        input.form-control(type='text' placeholder='enter address line 2' value='')
                                    .col-md-12
                                        label.labels Email ID
                                        input.form-control(type='text' placeholder='enter email id' value='')
                                    .col-md-12
                                        label.labels Education
                                        input.form-control(type='text' placeholder='education' value='')
                                .row.mt-3
                                    .col-md-6
                                        label.labels Country
                                        input.form-control(type='text' placeholder='country' value='')
                                    .col-md-6
                                        label.labels State/Region
                                        input.form-control(type='text' value='' placeholder='state')
                                .mt-5.text-center
                                    button.btn.btn-primary.profile-button(type='button') Save Profile

