extends _layouts/master

block content
    section
        .profile
            .container.my-5
                .row
                    .col-lg-2
                        .d-flex.align-items-center.mb-3
                            .profile-image.bg-primary.text-white.rounded-circle.d-flex.justify-content-center.align-items-center.me-3
                                span.fs-4 m
                            div
                                h6.mb-0 USER NAME
                                a(href="#" class="text-decoration-none") Sửa Hồ Sơ
                        ul.nav.flex-column
                            li.nav-item.mb-2
                                a.nav-link.text-dark(href="#")
                                    i.bi.bi-person
                                    |  Tài Khoản Của Tôi
                            li.nav-item.mb-2
                                a.nav-link.active(href="#")
                                    i.bi.bi-box
                                    |  Đơn Mua
                            li.nav-item.mb-2
                                a.nav-link.text-dark(href="#")
                                    i.bi.bi-bell
                                    |  Thông Báo
                            li.nav-item.mb-2
                                a.nav-link.text-dark(href="#")
                                    i.bi.bi-ticket
                                    |  Kho Voucher


                    .col-lg-10
                        .tab-pane.fade.w-100(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='1')
                            ul.nav.nav-pills.my-4.btn-class.nav-justified.rounded-4.profile-tags(role='tablist')
                                li.nav-item(role='presentation')
                                    button.nav-link.active.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#referral' type='button' role='tab' aria-selected='true') Tất Cả
                                li.nav-item(role='presentation')
                                    button.nav-link.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#account' type='button' role='tab' aria-selected='false' tabindex='-1') Chờ Thanh Toán
                                li.nav-item(role='presentation')
                                    button.nav-link.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#transaction' type='button' role='tab' aria-selected='false' tabindex='-1') Vận Chuyển
                                li.nav-item(role='presentation')
                                    button.nav-link.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#level' type='button' role='tab' aria-selected='false' tabindex='-1') Chờ Giao Hàng
                                li.nav-item(role='presentation')
                                    button.nav-link.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#level' type='button' role='tab' aria-selected='false' tabindex='-1') Hoàn Thành
                                li.nav-item(role='presentation')
                                    button.nav-link.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#level' type='button' role='tab' aria-selected='false' tabindex='-1') Đã Huỷ
                                li.nav-item(role='presentation')
                                    button.nav-link.fs-6.px-1.py-lg-3(data-bs-toggle='pill' data-bs-target='#level' type='button' role='tab' aria-selected='false' tabindex='-1') Bảo Hành

                        .tab-content.my-3
                            #referral.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                                .order.mt-3.p-3.border.rounded
                                    .d-flex.justify-content-between.align-items-center
                                        h6.mb-0 Riêm Store Gia Dụng
                                        button.btn.btn-outline-secondary.btn-sm Xem Shop
                                    .d-flex.mt-3
                                        img(src="" alt="Product" class="me-3")
                                        div
                                            h6.mb-1 Dao Cạo Râu Êm Ái 2 Lưỡi Thế Hệ Mới Kèm 36 Lưỡi Tặng 1 Lọ Kem RIEM
                                            small Phân loại hàng: Bộ Dao Cạo Râu
                                            p.text-danger.mb-0 ₫59.000
                                    .text-end.mt-3
                                        button.btn.btn-danger Liên Hệ Người Bán



                            #account.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                                .order.mt-3.p-3.border.rounded
                                    .d-flex.justify-content-between.align-items-center
                                        h6.mb-0 Xưởng May Ngọc Linh
                                        button.btn.btn-outline-secondary.btn-sm Xem Shop
                                    .d-flex.mt-3
                                        img(src="https://via.placeholder.com/100" alt="Product" class="me-3")
                                        div
                                            h6.mb-1 Quần Ống Rộng Xếp Ly Phong Cách Ulzzang Thanh Lịch Hợp Thời Trang Cho Nữ_911
                                            small Phân loại hàng: Nâu, S
                                            p.text-decoration-line-through.mb-0 ₫100.000
                                            p.text-danger ₫75.000
                                    .text-end.mt-3
                                        button.btn.btn-secondary Đã Hủy

                            #transaction.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')

                            #level.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')

                            #matching.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')