extends _layouts/master

block content
    section
        .register
            .container
                .card.o-hidden.border-0.shadow-lg.my-5.register-card
                    .card-body.p-0
                        .row
                            .col-lg-5.d-none.d-lg-block
                                img.w-100.h-100(src='./client/images/logo.png')
                            .col-lg-7
                                .p-5.form-section
                                    .text-center
                                        h1.h4.text-gray-900.mb-4.welcome-title ĐĂng Kí
                                    form.user.registration-form
                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                input#exampleFirstName.form-control.form-control-user.first-name-input(type='text' placeholder='First Name')
                                            .col-sm-6
                                                input#exampleLastName.form-control.form-control-user.last-name-input(type='text' placeholder='Last Name')
                                        .form-group
                                            input#exampleInputEmail.form-control.form-control-user.email-input(type='email' placeholder='Email Address')
                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                input#exampleInputPassword.form-control.form-control-user.password-input(type='password' placeholder='Password')
                                            .col-sm-6
                                                input#exampleRepeatPassword.form-control.form-control-user.repeat-password-input(type='password' placeholder='Repeat Password')
                                        a.btn.btn-primary.btn-user.btn-block.register-btn.w-100(href='login.html') Register Account
                                        hr.divider
                                        .social-login-buttons.d-flex.justify-content-between
                                            a.btn.btn-google.btn-user.btn-block.google-btn(href='index.html')
                                                i.fab.fa-google.fa-fw
                                                | Register with Google
                                            a.btn.btn-facebook.btn-user.btn-block.facebook-btn(href='index.html')
                                                i.fab.fa-facebook-f.fa-fw
                                                | Register with Facebook
                                    hr.divider
                                    .text-center
                                        a.small.forgot-password-link(href='forgot-password.html') Forgot Password?
                                    .text-center
                                        a.small.login-link(href='login.html') Already have an account? Login!
