footer
    .d-flex.justify-content-center.my-5.mb-lg-5
        img.img-logo(src='client/images/logo.png')
    .text-center.mb-4 Subscribe to be informed about token
        br
        | sale in advance
    .row.mx-0
        .col-md-6.col-lg-4.mx-auto
            .input-group.mb-3.rounded-5
                input.form-control.rounded-start-5(type='text' placeholder="Email")
                span.input-group-text.p-0.rounded-end-5
                    button.btn.btn-john.px-4.py-2.rounded-5(type='submit') Subscribe
            .socical-group.d-flex.justify-content-center.py-3
                a(href='javascript:void(0)').mx-2
                    .socical-box.hvr-float
                        i.fa-brands.fa-facebook-f
                a(href='javascript:void(0)').mx-2
                    .socical-box.hvr-float
                        i.fa-brands.fa-reddit-alien
                a(href='javascript:void(0)').mx-2
                    .socical-box.hvr-float
                        i.fa-brands.fa-youtube
                a(href='javascript:void(0)').mx-2
                    .socical-box.hvr-float
                        i.fa-brands.fa-x-twitter
                a(href='javascript:void(0)').mx-2
                    .socical-box.hvr-float
                        i.fa-brands.fa-telegram
