header
    nav.navbar.navbar-expand-lg.menu
        .container
            a.navbar-brand(href='#')
                img.img-logo(src='./client/images/logo.png')
            button.navbar-toggler.border-0(type='button' data-bs-toggle='offcanvas' data-bs-target='#menu' aria-controls='offcanvasNavbar' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #menu.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                .offcanvas-header
                    .offcanvas-title
                        img.img-logo(src='./client/images/logo.png')
                    button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                .offcanvas-body
                    ul.navbar-nav.justify-content-center.flex-grow-1.pe-3.text-uppercase
                        li.nav-item.mx-lg-4
                            a.nav-link(href='index.html') Trang Chủ
                        li.nav-item.mx-lg-4
                            a.nav-link(href='product.html') Sản Phẩmn
                        li.nav-item.mx-lg-4
                            a.nav-link(href='system.html') Tin tức
                        li.nav-item.mx-lg-4
                            a.nav-link(href='overview.html') Giới thiệu
                        li.nav-item.mx-lg-4
                            a.nav-link(href='contact.html') Liên Hệ

                    .d-grid.gap-2.d-md-flex.justify-content-md-end
                        a.btn.btn-primary.me-md-2(type='button' href='register.html') Đăng KÍ
                        a.btn.btn-primary(type='button' href='Login.html') ĐĂng Nhập

