header
    #menu-vp.offcanvas.offcanvas-start.menu(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
        include ../_partials/menu-vp
    .d-flex.d-lg-none.justify-content-end
        button.btn.border-0(type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-vp")
            i.fa-solid.fa-bars.fa-2x.text-dark