.offcanvas-header.p-0
    img.w-100(src='client/images/logo-vp.png')
.offcanvas-body.pt-4
    ul.nav.flex-column.side-menu
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center.text-white.fs-1(href='index.html')
            .sidebar-brand-icon.rotate-n-15
                i.fas.fa-laugh-wink
            .sidebar-brand-text.mx-3.fs-5  Admin
        // Nav Item - Dashboard
        li.nav-item.active
            a.nav-link(href='admin.html')
                i.fas.fa-fw.fa-tachometer-alt
                span Dashboard
        // Nav Item - Pages Collapse Menu
        li.nav-item
            a.nav-link.collapsed.hvr-forward.py-3(href='#' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                i.fas.fa-fw.fa-cog
                span Custom Product
            #collapseTwo.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionSidebar')
                .bg-white.py-2.collapse-inner.rounded-3.mx-2
                    h6.collapse-header Custom Product:
                    ul.list-unstyled.ms-3
                        li
                            a.collapse-item.d-block.ms-2(href='update-product-admin.html') Update Product
                        li
                            a.collapse-item.d-block.ms-2(href='update-catoryte-admin.html') Update Category
        li.nav-item
            a.nav-link.collapsed.hvr-forward.py-3(href='#' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
                i.fas.fa-fw.fa-cog
                span New
            #collapseThree.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionSidebar')
                .bg-white.py-2.collapse-inner.rounded-3.mx-2
                    h6.collapse-header Custom Components:
                    ul.list-unstyled.ms-3
                        li
                            a.collapse-item.d-block.ms-2(href='profile-admin.html') Profile
                        li
                            a.collapse-item.d-block.ms-2(href='') New Product
                        li
                            a.collapse-item.d-block.ms-2(href='') Update
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='index.html')
                i.fa-solid.fa-backward.me-3
                | Back To Website
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='login.html')
                i.fa-solid.fa-right-from-bracket.me-3
                | Logout
