//$background-image: url(../images/bg.png) no-repeat center center fixed;
$background-color: #050510;
$background-dropdown: #050510;

$background-color_1: rgb(0, 238, 255);

$color_1: rgb(27, 27, 27);
$color_2: lightgray;
$color_3: gold;
$color-page: #607290;
$color-page2: #1aafe9;
$color-active: #DF6951;


$btn-oder: #DF6951;
$border-color_1: #7fad39;
$bnt-buy: #FF9999;
$btn-star: #F5802A;
/* media size */
$mobile-mini-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-sm-width: 1024px;
$desktop-width: 1366px;
$desktop-width-xxl: 1440px;
$breakpoints: (
        sm : 480px,
        md : 1024px,
        lg: 1366px
);
@mixin xs {
  @media (max-width: #{$mobile-mini-width}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$mobile-mini-width}) and (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-sm-width - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$desktop-sm-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-width-xxl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$desktop-width-xxl + 1px}) {
    @content;
  }
}

@mixin media($keys...) {
  @each $key in $keys {
    @media screen and (max-width: map-get($breakpoints, $key)) {
      @content
    }
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn:active {
  transform: translateY(1px) !important;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.btn-class {
  background: #F5EFEF;
}

.img-logo {
  aspect-ratio: 1 / 1;
  height: 55px;

}

.fade:not(.show) {
  opacity: 1;
}

.btn-submit {
  background: $btn-oder;

  &:hover {
    background: #20bfe1;
  }
}

.btn-buy {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  background: $bnt-buy;
  font-size: 20px;
  padding: 10px;
  color: #ffffff;

  &:hover {
    background: #20bfe1;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn.border-secondary {
  transition: 0.5s;
}

.btn.border-secondary:hover {
  background: var(--bs-secondary) !important;
  color: var(--bs-white) !important;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);

}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.btn-primari {
  background-color: #0BB94E;
  color: #ffffff;

  &:hover {
    background-color: #f7a422;
    color: #ffffff;
  }
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: $color-page;
  background: #FFFFFF;
  font-size: 18px;
  font-family: "Muli", sans-serif !important;
  @include sm {
    font-size: 15px;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.rotate {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//global class
.img-logo {
  width: 150px;
}

.text-highline {
  color: $color-active;
}

.btn-get-started {
  background-color: #00FF00;
  border-radius: 30px;
  padding: 8px 30px;
  border: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  font-size: 14px;
}

.slick-slider {
  .slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: black;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }

    &.slick-disabled:before {
      opacity: 0.25;
    }
  }

  .slick-prev:before, .slick-next:before {
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev {
    left: -25px;
    width: 30px;
    height: 30px;
    //background: url(../images/arrow-left.svg) no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-40%);
    @include sm {
      left: -5px;
      width: 30px;
      height: 30px;
    }
  }

  .slick-next {
    right: -25px;
    width: 30px;
    height: 30px;
    //background: url(../images/arrow-right.svg) no-repeat center center;
    background-size: 100% 100%;
    transform: translateY(-40%);
    @include sm {
      right: -5px;
      width: 30px;
      height: 30px;
    }
  }
}

:root, [data-bs-theme=light] {
  --bs-border-width: 2px;
  --bs-border-color: #23293B;
}

.btn-john {
  background: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
  color: $color-active;
  font-size: 16px;
  font-weight: 700;
  flex-wrap: nowrap;
  @include sm {
    font-size: 13px;
  }

  &:hover {
    background: linear-gradient(160deg, #a11f85 0%, #d2538a 100%);
    color: $color-active;
  }
}

.offcanvas {
}

.input-group {
  color: #607290;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 8px;

  .form-control, .input-group-text {
    background: transparent;
    color: $color-active;
    border: 0;

    &::placeholder {
      color: #999999;
    }

    &:focus, &:focus-visible {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }

}

.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  color: $color-active;
  background-color: #23293b;
}

.btn-start {
  background: $btn-star;
  color: #ffffff;

  &:hover {
    background: #bfd1ec;
    color: #FF9999;
  }
}

.modal {
}

.title {
  background: #f37021;
  background: linear-gradient(to right, #F37021 0%, #ECB500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  font-weight: 700;
}

.table-responsive {
  .table {
    --bs-body-bg: transparent;
    --bs-table-color: #FFFFFF;
  }
}

.line-border {
  border-top: 2px solid #81c408;
  border-bottom: 2px solid #81c408;
}

.btn-apply {
  background-color: #fff;
  color: #81c408;
  border: 1px solid #ffb524;

  &:hover {
    background-color: #ffb524;
    border: 1px solid #81c408;
    color: #999999;
  }
}

.btn-primarty {
  color: #000;
  background-color: #dab47a;
  border-color: #d8b072;
  box-shadow: 0 0 0 .25rem rgba(180, 142, 83, .5);

  &:hover {
    background-color: #000;
    color: #dab47a;
  }
}

.text-title {
  color: #0BB94E;
}

.text-radiant {
  background: linear-gradient(to top right, #EA6D8E 5%, #AE40E3, #6CDECB, #62F7A7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-log {
  padding: 1em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

.btn-reg {
  padding: 1em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #0099FF;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;


  &:hover {
    background-color: #ffff;
    box-shadow: 0px 15px 20px #00CCFF;
    color: #000;
    transform: translateY(-7px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  box-shadow: 2px 2px #999999;

  .offcanvas {
    background: #FFFFFF;
  }


  .navbar {
    .navbar-brand {
      color: $color-page2;
    }

    .nav-item {
      .nav-link {
        .nav-link {
          color: #000000;
          font-size: 15px;
          font-weight: lighter;
          text-transform: uppercase;
        }
      }

      .active {
        color: #EF7087;
      }
    }
  }

}

.dropdown-menu {
  background: $background-dropdown;

  .dropdown-item {
    color: $color-page;
    background: transparent;

    &:hover {
      color: $color-active;
    }
  }
}

.form {
  background: #6c5d4f;
  border-radius: 10px;

  .form-title {
    font-size: 50px;
    text-transform: uppercase;
    @include sm {
      font-size: 35px;
    }

    .form-text {
      text-align: center;
      font-size: 15px;

    }
  }

  .input-group {
    .input-group-text {
      border-radius: 5px;
      border: none;
      background: #ffffff;
      color: #333333;
    }

    .form-control {
      border-radius: 5px;
      border: none;
      background: #ffffff;
      color: #333333;
    }
  }
}

section {
  .carousel {
    .carousel-control-prev, .carousel-control-next {
      width: auto;
    }

    .carousel-control-prev {
      transform: translateX(-80%);
    }

    .carousel-control-next {
      transform: translateX(80%);
    }

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236D6E71'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    }

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236D6E71'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  }

  .product-box {
    .product-content {
      margin-top: 140px;

      .product-card {
        .card-body {
          .card-img {
            display: flex;
            justify-content: center;

            .product-img {
              width: 100%;
              max-width: 150px;
              border-radius: 8px;
            }
          }

          .product-bg {
            margin: 1rem 0;

            img {
              width: 25px;
              height: 25px;
            }
          }

          .text-start {
            display: flex;
            align-items: center;
            font-size: 1rem;

            i {
              margin-right: 0.5rem;
            }
          }

          .star-rating {
            span {
              font-size: 1.2rem;
              color: #FFD700;
              cursor: pointer;

              &:hover, &.selected {
                color: #FFCC00;
              }
            }
          }

          .product-team {
            display: flex;
            align-items: center;

            h4 {
              color: #e74c3c;
              font-weight: bold;
            }

            p {
              color: #999;
              margin-left: 0.5rem;
              text-decoration: line-through;
            }
          }

          .btn-submit {
            background-color: #007bff;
            padding: 0.5rem 1rem;
            border: none;
            font-weight: bold;

            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }

    .product-img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .product-banner {
      z-index: 1;
    }

    .product-team {
      border-top: 1px groove #542882;
    }
  }

  .featured {
    padding-top: 80px;
    padding-bottom: 40px;

    .featured-controls {
      text-align: center;
      margin-bottom: 50px;

      .controls-list {
        .list-nav {
          list-style: none;
          font-size: 18px;
          color: $color_1;
          display: inline-block;
          margin-right: 25px;
          position: relative;
          cursor: pointer;

          &:after {
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background: #7fad39;
            content: "";
            opacity: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

      }
    }

    .featured-item {
      &:hover {
        .featured-item-pic {
        }

        .featured-item-pic-hover {
          bottom: 20px
        }
      }
    }

    .featured-item-pic {
      height: 270px;
      position: relative;
      overflow: hidden;
      background-position: center center;

      .featured-item-pic-hover {
        position: absolute;
        left: 0;
        bottom: -60px;
        width: 100%;
        text-align: center;
        transition: all 0.5s;
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
      }

      .featured-item-list {
        list-style: none;
        display: inline-block;
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-size: 16px;
          color: $color_1;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #ebebeb;
          background: #ffffff;
          display: block;
          border-radius: 50%;
          transition: all 0.5s;

          i {
            position: relative;
            transform: rotate(360deg);
            transition: transform 0.5s;
          }
        }

        &:hover a {
          background: #FFF6F6;
          border-color: $border-color_1;
          transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          -ms-transform: rotate(360deg);

          i {
            color: $color_2;

            transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
          }
        }
      }

    }


  }

  .from-blog {
    padding-top: 50px;
    padding-bottom: 50px;

    .from-blog-title {
      margin-bottom: 70px;
    }
  }

  .road-content {
    background: #2b2f32;
    padding: 20px;
    height: 100%;

    .we-did-block {
      position: relative;

      .block-img {
        height: 280px;
        margin-top: 20px;
      }

      .we-did-content {
        position: absolute;
        width: 0%;
        height: 0%;
        top: 50%;
        left: 50%;
        background: rgba(244, 235, 192, 0.8);
        transition: 0.3s ease-in-out;
        transform: translateX(-50%) translateY(-50%);
        color: #444444;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      &:hover {
        .we-did-content {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .shirt {
    .shirt-new {
      .shirt-new-product {
        .product-roll {
          position: relative;
          display: block;
          overflow: hidden;
          border: 1px solid #f0f0f0;

          &:before {
            transform: scale(0, 1);
            border-left-color: transparent;
            border-right-color: transparent;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
          }

          &:after {
            border-top-color: transparent;
            border-bottom-color: transparent;
            -ms-transform: scale(1, 0);
            transform: scale(1, 0);
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
          }
        }
      }
    }
  }

  .product {
    .product-tags {
      .nav-item {
        .nav-link {
          position: relative;
          color: #000;
          font-weight: normal;
          padding-bottom: 10px;
          background: none;
          font-size: 17px;

          &.active {
            color: #FF5722;
            font-weight: bold;
            font-size: 17px;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px; // Độ dày đường line
              background-color: #FF5722; // Màu cam cho đường line
              border-radius: 8px; // Bo góc để đường line mềm mại hơn
              transform: scaleX(0); // Ban đầu đường line có độ dài 0
              transform-origin: bottom right; // Khởi tạo từ phải sang trái
              transition: transform 0.3s ease-out; // Hiệu ứng mượt mà khi chuyển động
            }
          }

          &:hover {
            color: #FF7043;
          }
        }

        .nav-link.active::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

    }

    .tab-class {
      .nav-item {
        a {
          &.active {
            background: var(--bs-secondary) !important;

            span {
              color: var(--bs-white) !important;
            }
          }
        }
      }
    }

    .fruite-categorie {
      .fruite-name {
        line-height: 40px;

        a {
          transition: 0.5s;

          &:hover {
            color: var(--bs-secondary);
          }
        }
      }
    }

    .fruite-item {
      height: 100%;
      transition: 0.5s;

      &:hover {
        box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
      }

      .fruite-img {
        overflow: hidden;
        transition: 0.5s;
        border-radius: 10px 10px 0 0;

        img {
          transition: 0.5s;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
      .boder-line{
        border: 2px solid #23c483;
      }
    }
  }

  .product-item {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }

    figure {
      margin-bottom: 1rem;

      a img {
        border-radius: 10px;
        object-fit: cover;
        max-height: 200px;
        transition: transform 0.3s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }

    .product-details {
      padding: 0.5rem 1rem;

      .product-title {
        font-size: 1rem;
        font-weight: bold;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .rating {
        i {
          font-size: 1rem;
        }

        .rating-count {
          font-size: 0.875rem;
          color: #6c757d;
        }
      }

      .price-info {
        del.old-price {
          font-size: 0.9rem;
          color: #999999;
        }

        .new-price {
          font-size: 1.2rem;
          font-weight: 600;
          color: #28a745;
        }

        .discount-badge {
          font-size: 0.75rem;
          background-color: #dc3545;
          color: #ffffff;
          padding: 2px 6px;
          border-radius: 5px;
        }
      }
    }

    .button-area {
      display: flex;
      align-items: center;
      gap: 10px;

      .quantity-input {
        width: 60px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        font-size: 1rem;
      }

      .add-to-cart-btn {
        flex-grow: 1;
        background-color: #007bff;
        color: #ffffff;
        font-weight: bold;
        padding: 0.5rem;
        text-align: center;
        border-radius: 5px;

        &:hover {
          background-color: #0056b3;
        }
      }

      .wishlist-btn {
        padding: 0.5rem;
        color: #6c757d;
        border-radius: 5px;

        &:hover {
          color: #ff5722;
        }
      }
    }
  }

  .contact {
    .header-content {
      margin-top: 30px;
      background-image: url(../images/bannner.jpeg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 50vh;
      @include md {
        height: 30vh;
      }

      .contact-title {
        padding-top: 100px;
      }

    }

    .contact-form {
    }

    .contact-form-title {
      text-align: center;
      margin-bottom: 20px;

      h2 {
        color: #333;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    form {
      .row {
        margin-bottom: 15px;

        .col-lg-6,
        .col-lg-12 {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
        }

        input[type='text'],
        input[type='tel'],
        input[type='email'],
        textarea {
          width: 100%;
          padding: 10px 15px;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 1rem;
          color: #333;
          margin-bottom: 10px;
          transition: all 0.3s ease;

          &:focus {
            border-color: #007bff;
            box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
            outline: none;
          }
        }

        textarea {
          height: 150px;
          resize: vertical;
        }
      }

      .text-center {
        .site-btn {
          background-color: #007bff;
          color: #fff;
          padding: 10px 20px;
          font-size: 1.1rem;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }

  }

  .detail-product {
    .product-slider-bar {
      background-color: #E4E4E4;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      img.custom-carousel-img {
        width: 100%;
        max-height: 350px;

        object-fit: contain;
        border-radius: 10px;
      }
    }


    .custom-carousel-indicators {
      .row.mx-0 {
        .col-3 {
          button.w-100.h-auto {
            img.custom-indicator-img {
              max-width: 70%; // Giảm kích thước ảnh trong các indicator
              height: auto; // Đảm bảo ảnh giữ tỷ lệ
              margin: 0 auto; // Canh giữa ảnh
              border-radius: 8px; // Bo góc cho ảnh trong indicator
            }
          }
        }
      }
    }

    .carousel {
      .carousel-indicators {
        position: relative;

        button {
          border-radius: 7px;
          border: 1px;
        }
      }

      .carousel-indicators .active {
        border: 1px solid #f37021;
      }

      .carousel-indicators [data-bs-target] {
        opacity: 1;
      }
    }


    .divide-line {
      width: 100%;
      height: 3px;
      background: $color-page2;
    }

    .bt-buy {
      background-color: #f7fafd; // Màu nền lạnh sáng
      border-radius: 5px; // Bo góc cho phần input
      padding: 5px 10px;
      border: 1px solid #e0f7fa; // Viền màu nhẹ
    }

    .btn_num {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .btn_num button {
      background-color: #80deea; // Màu xanh nhạt
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .btn_num button:hover {
      background-color: #4dd0e1; // Màu khi hover
    }

    .btn_num button:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 188, 212, 0.6); // Hiệu ứng focus
    }

    input#qtym {
      width: 60px;
      text-align: center;
      font-size: 18px;
      background-color: #ffffff;
      color: #333;
      border: 1px solid #80deea; // Viền sáng khi không focus
      padding: 5px;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    input#qtym:focus {
      border-color: #4dd0e1; // Màu viền khi focus
      outline: none;
    }

    .form-control input#qtym::placeholder {
      color: #b0bec5; // Màu placeholder nhạt
    }

    .title-product {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }

    .nav-item {
      .nav-link {
        color: #004d40;
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s, color 0.3s;

        @include sm {
          font-size: 15px;
          padding: 8px 16px; // Điều chỉnh padding cho màn hình nhỏ hơn
        }

        &:hover {
          background-color: #b2ebf2; // Màu nền nhạt khi hover
          color: #004d40; // Màu chữ không thay đổi khi hover
        }
      }

      .active {
        background-color: #b2ebf2;
        color: #00796b; // Màu chữ xanh lá đậm
        transition: 0.5s;
      }
    }
  }

  .product-short {
    .slider-box {
      .box-header {
        background: var(--url);
        background-size: 100% 100%;

        .box-title {
          width: max-content;
          background: rgba(255, 255, 255, 0.7);
          backdrop-filter: blur(20px);
          border-radius: 30px;
          font-size: 25px;
          color: #333333;
          @include sm {
            font-size: 18px;
          }
        }
      }

      .box-content {
        background: var(--bgcolor);

        .product-item {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            transition: 0.3s ease;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

        }
      }
    }

  }

  .login {
    .custom-login-container {
      .custom-card-wrapper {
        .custom-card {
          border-radius: 12px;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

          .custom-row {
            .custom-form-container {

              .custom-welcome-title {
                font-size: 24px;
                font-weight: bold;
                color: #333;
                margin-bottom: 20px;
              }

              .custom-login-form {
                .custom-input-group {
                  margin-bottom: 20px;

                  input.custom-input {
                    border-radius: 8px;
                    border: 1px solid #ced4da;
                    padding: 12px 15px;
                    font-size: 16px;
                    color: #495057;

                    &:focus {
                      border-color: #007bff;
                      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }

                    &::placeholder {
                      color: #6c757d;
                    }
                  }
                }


                .custom-login-btn,
                .custom-google-btn,
                .custom-facebook-btn {
                  border-radius: 8px;
                  font-size: 16px;
                  font-weight: 500;


                  &.custom-login-btn {
                    background-color: #007bff;
                    border-color: #007bff;

                    &:hover {
                      background-color: #0056b3;
                      border-color: #0056b3;
                    }
                  }

                  &.custom-google-btn {
                    background-color: #db4437;
                    border-color: #db4437;

                    &:hover {
                      background-color: #c23321;
                    }

                    i {
                      margin-right: 10px;
                    }
                  }

                  &.custom-facebook-btn {
                    background-color: #4267B2;
                    border-color: #4267B2;

                    &:hover {
                      background-color: #365899;
                    }

                    i {
                      margin-right: 10px;
                    }
                  }
                }
              }

              .text-center {
                a.custom-forgot-password,
                a.custom-create-account {
                  color: #007bff;

                  &:hover {
                    color: #0056b3;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  .register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;

    .register-card {
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .bg-register-image {
      background: url('path/to/your-image.jpg') no-repeat center center;
      background-size: cover;
    }

    .form-section {
      padding: 40px;
      background-color: #ffffff;

      .welcome-title {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 20px;
      }

      .registration-form {
        .form-group {
          margin-bottom: 20px;

          input {
            padding: 12px 15px;
            border-radius: 8px;
            background-color: #f9f9f9;
            font-size: 16px;
            border: 1px solid #dcdcdc;
            transition: border-color 0.3s, box-shadow 0.3s;

            &:focus {
              border-color: #3498db;
              box-shadow: 0 0 6px rgba(52, 152, 219, 0.5);
              outline: none;
            }

            &::placeholder {
              color: #b0b0b0;
            }
          }
        }

        .register-btn {
          background-color: #3498db;
          color: #ffffff;
          padding: 12px;
          font-weight: 600;
          border-radius: 8px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #217dbb;
          }
        }

        .divider {
          margin: 20px 0;
          border-color: #e0e0e0;
        }

        .social-login-buttons {
          a {

            font-size: 14px;
            font-weight: 500;
            padding: 12px;
            border-radius: 8px;
            text-decoration: none;
            color: #ffffff;
            transition: background-color 0.3s;

            i {
              margin-right: 8px;
            }

            &.google-btn {
              background-color: #db4437;

              &:hover {
                background-color: #c23321;
              }
            }

            &.facebook-btn {
              background-color: #4267b2;

              &:hover {
                background-color: #365899;
              }
            }
          }
        }

        .forgot-password-link,
        .login-link {
          font-size: 14px;
          color: #3498db;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }


  .check-out {
    .checkout-form {
      .checkout-input {
        input {
          width: 100%;
          height: 46px;
          border: 1px solid #b2b2b2;
          padding-left: 20px;
          font-size: 16px;
          color: #b2b2b2;
          border-radius: 4px;

        }

        select {
          width: 100%;
          height: 46px;
          border: 1px solid #b2b2b2;
          padding-left: 20px;
          font-size: 16px;
          color: #b2b2b2;
          border-radius: 4px;
        }

        textarea {
          width: 100%;
          height: 100px;
          border: 1px solid #b2b2b2;
          padding-left: 20px;
          font-size: 16px;
          color: #b2b2b2;
          border-radius: 4px;
        }
      }
    }
  }

  .cart {
    .shoping-cart-table {

    }

    .shoping-checkout {
      background: #f5f5f5;
      padding: 30px;
      padding-top: 20px;
      margin-top: 50px;

      .primary-btn {
        display: block;
        text-align: center;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: $bnt-buy;
        letter-spacing: 2px;
      }
    }

    .table-responsive {
      .table-img {
        width: 250px;
        height: auto;
      }
    }

  }

  .about {
    .about-us {
      .content {
        background-color: var(--surface-color);
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .services {
        .services-item {
          .services-icon {
            color: #00FF00;
            margin-bottom: 20px;
          }
        }

      }

      .stats {

      }
    }

  }

  .we-did-block {
    position: relative;

    .we-did-content {
      position: absolute;
      width: 0%;
      height: 0%;
      top: 50%;
      left: 50%;
      background: rgba(244, 235, 192, 0.8);
      transition: 0.3s ease-in-out;
      transform: translateX(-50%) translateY(-50%);
      color: #444444;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    &:hover {
      .we-did-content {
        width: 100%;
        height: 100%;
      }
    }
  }

  .profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .profile-avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 20px;

      .profile-info {
        flex: 1;

        h2 {
          margin: 0;
          font-size: 24px;
        }

        p {
          margin: 5px 0;
          color: #666;
        }

        .order-list {
          list-style: none;
          padding: 0;

          .order-item {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;

            &:last-child {
              border-bottom: none;
            }

            .order-details {
              flex: 1;

              p {
                margin: 2px 0;
              }
            }

            .order-status {
              text-align: right;

              span {
                font-size: 14px;
                font-weight: bold;
              }

              .status-completed {
                color: green;
              }

              .status-pending {
                color: orange;
              }
            }
          }

        }

      }

    }

  }

  .oder {
    .order-container {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .order-title {
        color: #956671;
        font-weight: bold;
      }

      .order-tabs {
        .nav-link {
          color: #F7C1C8;

          &.active {
            color: #ffffff;
            background-color: #F7C1C8;
          }
        }
      }
    }
  }

  .profile {
    .profile-tags {
      .nav-item {
        .nav-link {
          position: relative;
          color: #000;
          font-weight: normal;
          padding-bottom: 10px;
          background: none;
          font-size: 17px;

          &.active {
            color: #FF5722;
            font-weight: bold;
            font-size: 17px;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 1px; // Độ dày đường line
              background-color: #FF5722; // Màu cam cho đường line
              border-radius: 8px; // Bo góc để đường line mềm mại hơn
              transform: scaleX(0); // Ban đầu đường line có độ dài 0
              transform-origin: bottom right; // Khởi tạo từ phải sang trái
              transition: transform 0.3s ease-out; // Hiệu ứng mượt mà khi chuyển động
            }
          }


          &:hover {
            color: #FF7043;
          }
        }


        .nav-link.active::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }


  footer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;

    .socical-group {
      .socical-box {
        width: 50px;
        height: 50px;
        font-size: 20px;
        border-radius: 50%;
        border: 2px solid $color-page;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-page;

        &:hover {
          border-color: $color-active;
          color: $color-active;
        }
      }
    }
  }

}

.office {
  color: #000000;

  section {
    min-height: 100%;
  }

  .menu {
    width: 300px;
    background: $background-color;
    height: 100%;

    .offcanvas-header {
      border-bottom: 4px solid $color-active;
    }

    .nav {
      .nav-item {
        .nav-link {
          color: $color-page;
          font-size: 16px;
          width: 100%;

          &:hover {
            color: $color-active;
          }
        }

        .active {
          color: $color-active;
        }
      }
    }
  }

  .office-main {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    overflow-y: scroll;

    .head-title {
      border: 2px solid $color-active;
      border-radius: 10px;

      .text-border {
        border-left: 3px solid $color-active;
        color: #323131;
      }

      .nav-item {
        .nav-link {
          background: $color-active;
          color: #ffffff;
        }

        .active {
          background: #D9D9D9;
          color: #000000;
        }
      }
    }

    .head-bg {
      background: $color-active;

      .text-border {
        border-left: 3px solid #ffffff;
        color: #ffffff;
      }
    }

    .phase-tags {
      background: #000000;
      border-radius: 20px;

      .nav-item {
        .nav-link {
          color: $color-page;
        }

        .active {
          background: $color-active;
          color: $color-page;
        }
      }
    }

    .phase-block {
      border-radius: 20px;
      border: 3px solid #000000;

      .phase-head {
        border-radius: 15px 15px 0 0;
        background: #000000;
        color: $color-active;
        font-size: 20px;
        @include sm {
          font-size: 16px;
        }
      }

      .phase-content {
        border-radius: 0 0 15px 51px;
        color: black;
      }
    }

    .btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
      background: $color-page;
      color: $color-active;
      border-color: $color-active;
    }

    .btn-start:hover {
      border-color: $color-active;
    }

    .card {
      border: 2px solid $color-active;
      background-color: #F2F2F2;
      font-family: Arial;
    }

    .total-row {
      background: $color-active;
      color: black;
    }

    .pay-method {
      .method-block {
        background: $color-active;
        border-radius: 10px;

        .method-title {
          border-bottom: 1px solid #ffffff;
        }

        .method-img {
          height: 50px;
        }
      }
    }

    .update-admin {
      .form-control {
        // Cấu trúc chính
        display: block;
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

        // Chuyển tiếp (smooth interaction)
        transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        // Khi người dùng hover
        &:hover {
          border-color: #38c172;
        }

        // Khi có focus
        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #38c172;
          outline: none;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        // Khi disabled
        &:disabled {
          background-color: #e9ecef;
          opacity: 0.7;
        }

        // Khi có lỗi
        &.is-invalid {
          border-color: #e3342f;
          background-color: #f8d7da;
          color: #721c24;

          &:focus {
            border-color: #e3342f;
            box-shadow: 0 0 0 0.2rem rgba(227, 52, 47, 0.25);
          }
        }

        // Khi hợp lệ
        &.is-valid {
          border-color: #38c172;
          background-color: #d4edda;
          color: #155724;

          &:focus {
            border-color: #38c172;
            box-shadow: 0 0 0 0.2rem rgba(56, 193, 114, 0.25);
          }
        }
      }

    }
  }
}



